{% extends "base.html" %}
{% block title %}The Owl Times - Area{% endblock %}
{% block body %}

<div class="container mt-5">
    <h1>Áreas Disponibles</h1>
    <p>Aquí, al hacer click en el área, aparecerá una tabla dinámica con los títulos de las revistasy su H-Index a un lado, y al hacer click en su título, nos llevará a toda la información de la revista. Se podrá hacer una búsqueda dentro de la tabla.</p>


<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css" />
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>

</div>
{% endblock %}