{% extends "base.html" %}
{% block title %}The Owl Times - Explorar{% endblock %}
{% block body %}

<div class="container mt-5">
    <h1>Explorar Por Letra</h1>
    <p>Selecciona una letra para ver las revistas que comienzan con ella.</p>
    {% for letra in letras %}
    <a href="{{ url_for('revistas_por_letra', letra=letra) }}" class="btn btn-outline-primary m-1">{{ letra }}</a>
    {% endfor %}

<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css" />
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>

</div>
{% endblock %}