{% extends "base.html" %}
{% block title %}The Owl Times - Explorar{% endblock %}
{% block body %}

<div class="container mt-5">
    <h1>Explorar</h1>
    <p> Aquí se mostrará un abecedario con hipervínculos, que al hacer click en una letra, lleven a una tabla con revistas cuyo título inicie con dicha letra, se deberá mostrar el título de la revista, los catálogos a los que pertenece (con hipervínculos a ellos), las áreas a las que pertenece (con hipervínculos a ellas) y su H-Index. Al dar click en el nombre de la revista, deberá mostrar toda la información relacionada a ella.</p>

<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css" />
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>

</div>
{% endblock %}