{% extends "base.html" %}
{% block title %}The Owl Times - Búsqueda{% endblock %}
{% block body %}

<div class="container mt-5">
    <h1>Búsqueda</h1>
    <p>Aquí se mostrará una página con una tabla que liste todas las revistas que contengan las palabras buscadas (una operación de UNIÓN). Como resultado se deberá mostrar una tabla dinámica con las siguientes columnas: El título de la revista, así como los catálogos y áreas a los que pertenece y al menos su H-Index. Al dar click en el nombre de la revista, deberá mostrar toda la información relacionada a ella.</p>


<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css" />
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>

</div>
{% endblock %}